<div class="container info">
  <div class="row">
    <div class="col">
      <i class="icon ion-social-whatsapp" style="margin-right: 5px;"></i><label>(0) 383 - (15) 4123456</label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <i class="icon ion-email" style="margin-right: 5px;"></i><label>contacto@simpleart.com.ar</label>
    </div>
  </div>
</div>
<div class="container contacto">
  <form>
    <div class="row">
      <div class="col-4">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Ingrese su nombre" id="i-nombre" required>
      </div>
      <div class="col-4">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Ingrese su correo electrónico" id="i-email" required>
      </div>
    </div>
    <div class="row" style="margin-top: 5px;">
      <div class="col-8">
        <label>Mensaje</label>
        <input type="textarea cols=40" class="form-control" placeholder="Ingrese su mensaje" id="i-mensaje" required>
      </div>
    </div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-2">
        <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Enviar</button>
      </div>
    </div>
  </form>
</div>
